@media (max-width: 860px) {
    .contacts-wrapper {
        flex-direction: column;
    }

    .contacts-content {
        height: 350px;
    }

    .google-maps {
        height: 350px;
    }
}

@media (max-width: 800px) {
    .presentation::after {
        font-size: 31px;
        width: 200px;
    }

    .category:hover {
        transform: scale(1);
    }

    main {
        justify-content: space-between;
        gap: 0;
    }

    .item {
        flex-basis: 48%;
    }

    .add-to-cart:hover {
        transform: scale(1);
    }
}

@media (max-width: 700px) {
    .item {
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {
    body {
        padding: 10px 10px 0;
    }

    .logo {
        font-size: 25px;
    }

    .nav-list {
        display: none;
    }

    .mobile-nav {
        display: flex;
    }

    .presentation::after {
        top: 60px;
        left: 40px;
    }
}

@media (max-width: 460px) {
    .categories {
        flex-wrap: wrap;
        margin-bottom: 55px;
    }

    .contacts-content {
        height: 300px;
        width: 350px;
    }

    .google-maps {
        height: 300px;
        width: 350px;
    }
}

@media (max-width: 390px) {
    h2 {
        font-size: 20px;
    }

    main b {
        font-size: 17px;
    }

    .add-to-cart {
        width: 25px;
        height: 25px;
        line-height: 25px;
    }

    .contacts-content {
        width: 300px;
    }

    .google-maps {
        width: 300px;
    }
}